* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h5 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

.boton-container {
    text-align: center;
}

.boton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}